# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xcarchive

# Swift Package Manager
.swiftpm/
.build/
Package.resolved
Packages/

# CocoaPods (optional)
# Pods/

# Carthage (optional)
Carthage/Build/

# App Artifacts
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
