# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Norai Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-14

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Swift 6.0
      uses: fwal/setup-swift@v1
      with:
        swift-version: "6.0"

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v
